Repository TEAM-JJINS/cs-algo, pull requests merged in 2025-09, with the labels that each got.

#220 [Chore] scheduler 모듈 배포 설정 #205
  .github/workflows/deploy-nks-terraform.yml
  .github/workflows/jacoco-pr-comment.yml
  csalgo-iac/main.tf
  csalgo-iac/modules/scheduler/main.tf
  csalgo-iac/modules/scheduler/variables.tf
  csalgo-iac/variables.tf
Labels: 🧩 chore, ☁ iac

#221 [Chore] scheduler 모듈 Dockerfile 작성 #205
  csalgo-scheduler/Dockerfile
Labels: 🔄 bug, 🧩 chore, ☁ iac

#222 [Feature] Spring Batch 도입 #205
  csalgo-application/src/main/java/kr/co/csalgo/application/problem/usecase/SendDailyQuestionMailUseCase.java
  csalgo-application/src/test/java/kr/co/csalgo/application/mail/usecase/SendFeedbackMailUseCaseTest.java
  csalgo-application/src/test/java/kr/co/csalgo/application/problem/usecase/SendDailyQuestionMailUseCaseTest.java
  csalgo-common/src/main/java/kr/co/csalgo/common/exception/ErrorCode.java
  csalgo-domain/src/main/java/kr/co/csalgo/domain/question/entity/ResponseFeedbackSendingHistory.java
  csalgo-domain/src/main/java/kr/co/csalgo/domain/question/repository/QuestionSendingHistoryRepository.java
  csalgo-domain/src/main/java/kr/co/csalgo/domain/question/service/QuestionSendingHistoryService.java
  csalgo-domain/src/test/java/kr/co/csalgo/domain/service/QuestionSendingHistoryServiceTest.java
  csalgo-scheduler/build.gradle
  csalgo-scheduler/src/main/java/kr/co/csalgo/CsAlgoSchedulerApplication.java
  csalgo-scheduler/src/main/java/kr/co/csalgo/scheduler/BatchRetryExecutor.java
  csalgo-scheduler/src/main/java/kr/co/csalgo/scheduler/MailPollingScheduler.java
  csalgo-scheduler/src/main/java/kr/co/csalgo/scheduler/QuestionScheduler.java
  csalgo-scheduler/src/main/java/kr/co/csalgo/scheduler/config/BatchJobConfig.java
  csalgo-scheduler/src/main/java/kr/co/csalgo/scheduler/config/BatchListenerConfig.java
  csalgo-scheduler/src/main/java/kr/co/csalgo/scheduler/config/RetryConfig.java
  csalgo-scheduler/src/main/resources/application.yml
  csalgo-scheduler/src/test/java/kr/co/csalgo/CsAlgoSchedulerTestApplication.java
  csalgo-scheduler/src/test/java/kr/co/csalgo/scheduler/BatchRetryExecutorTest.java
  csalgo-scheduler/src/test/java/kr/co/csalgo/scheduler/MailPollingSchedulerTest.java
  csalgo-scheduler/src/test/java/kr/co/csalgo/scheduler/QuestionSchedulerTest.java
  csalgo-scheduler/test/java/kr/co/csalgo/CsAlgoServerApplicationTest.java
  csalgo-scheduler/test/java/kr/co/csalgo/server/admin/AdminAuthControllerTest.java
  csalgo-scheduler/test/java/kr/co/csalgo/server/auth/EmailVerificationControllerTest.java
  csalgo-scheduler/test/java/kr/co/csalgo/server/question/QuestionControllerTest.java
  csalgo-scheduler/test/java/kr/co/csalgo/server/scheduler/ForceLockTakeOverInitializerTest.java
  csalgo-scheduler/test/java/kr/co/csalgo/server/scheduler/MailPollingSchedulerTest.java
  csalgo-scheduler/test/java/kr/co/csalgo/server/scheduler/QuestionSchedulerTest.java
  csalgo-scheduler/test/java/kr/co/csalgo/server/subscription/SubscriptionControllerTest.java
  csalgo-scheduler/test/java/kr/co/csalgo/server/user/UserControllerTest.java
Labels: ✨ feature, ↔️ domain: messaging, ⚙️ backend

#232 [Chore] PR Preview 환경 구축 #231
  .github/workflows/pr-preview.yml
  csalgo-k8s/charts/csalgo-preview/Chart.yaml
  csalgo-k8s/charts/csalgo-preview/templates/deployment.yaml
  csalgo-k8s/charts/csalgo-preview/templates/ingress.yaml
  csalgo-k8s/charts/csalgo-preview/templates/service.yaml
  csalgo-k8s/charts/csalgo-preview/values.yaml
  csalgo-web/src/main/resources/application.yml
Labels: 🧩 chore, 🎨 frontend

#235 [Fix] MySQL Pod MemoryPressure 방지 리소스 제한 추가 #234
  csalgo-iac/modules/mysql/main.tf
  csalgo-iac/modules/redis/main.tf
  csalgo-iac/modules/scheduler/main.tf
  csalgo-iac/modules/server/main.tf
  csalgo-iac/modules/web/main.tf
  csalgo-iac/provider.tf
Labels: 🔄 bug, ☁ iac

#239 GPT Client Bean 생성 실패 해결 및 Terraform Secret 주입 반영 #238
  csalgo-iac/main.tf
  csalgo-iac/modules/scheduler/main.tf
  csalgo-iac/modules/scheduler/variables.tf
  csalgo-iac/modules/server/main.tf
  csalgo-iac/modules/server/variables.tf
  csalgo-iac/variables.tf
  csalgo-scheduler/src/main/resources/application.yml
Labels: 🔄 bug, ⚙️ backend, ☁ iac

#241 [Fix] 관리자 로그인 실패 오류 해결 #213
  csalgo-web/src/main/java/kr/co/csalgo/web/admin/client/AdminRestClient.java
  csalgo-web/src/main/resources/static/js/cookie.js
Labels: 🔄 bug, 🧑🏻‍💼 domain: admin, 🎨 frontend
